.logo{
    text-align: center;
    img{
    margin-top:20px; 
    height: 100px;
    width: 300px;
    
    }
   
}

.modal-dialog{
padding-top: 1%;
padding-bottom: 4%;

.modal-content{
background-color: rgb(250, 250, 250);
opacity: 0.9;



.login-text{
text-align: center;
color: black;



}


.sign-up{
text-align: center;

a{
color: black;

}
h5{
   color: #b1aaaa;
}

}

.btn-link{
color:white;
}

.login-button{
float: right;
padding-left: 1%;
padding-right: 1%;
width: 30%;
}

.forget-pass{
text-align: left;

a{
color: black;
}


}


.modal-heading h2{
color:#ffffff;
}
}

}